body{
  background: var(--main-color) !important;
}
/* Start Email */
* {
  scrollbar-width: thin;
  scrollbar-color: #ddd #f5f5f5;
}
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track,
::-moz-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input{
  height: 50px !important;
}
input:focus{
  box-shadow: none !important;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

/* Start Email */
