@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
  --main-color: #f5f5f5; 
  --secondary-color: #21db20;
  --white-color: #fff;
  --black-color: #00000082;
  --main-font-family:  "Varela Round"; 
}
body{
    font-family: 'Open Sans', sans-serif !important;
    background: linear-gradient(166deg, var(--main-color) 75%, var(--white-color) 25%);
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important; /* Bold */
}
p, a, button {
  font-weight: 400 !important; /* Regular */
}
small, .text-muted {
  font-weight: 300 !important; /* Light */
}

.btn-sec{
  background-color: var(--secondary-color) !important;
  color: white !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  padding: .5rem 1rem !important;
  width: fit-content;
}
.btn-sec:hover{
  background-color: #0ca60b !important;
}

/* start Navigation */
nav{
  padding: 0 0 !important;
  min-height: 9vh;
}

nav img{
  width: 60% !important;
}
.navbar .navbar-brand{
    cursor: default;
    margin: 0 !important;
}
.navbar #navbarNav{
    flex-grow: 0 !important;
}
.navbar #navbarNav ul{
    gap: 15px;
}
.navbar #navbarNav ul .nav-link{
    font-size: 1.1rem;
    color: var(--black-color);
}

.navbar .nav-link:hover{
    color: #000 !important;
}
.navbar button{
  padding: .6rem .8rem;
}

@media (max-width: 992px) {
   nav form{
    display: none !important;
   }
  .navbar .nav-link {
    text-align: center;
  }
  .navbar .nav-link:hover {
    background-color: black;
    color: white !important;
  }
}
@media (max-width: 500px) {
  .navbar .navbar-brand{
    width: 80%;
  }
  .navbar .navbar-brand img{
    width: 100%;
  }
  
}

/* end Navigation */

/* start Masthead */
header{
  min-height: 91vh;
  padding: 20px 0 !important;
}
header .box button{
  border-radius: 35px;
    padding: 1rem 2rem !important;
}
header h1{
  opacity: .8;
  font-size: 45px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
header p{
  opacity: .6;
  font-size: 16px;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
header .btn-sec{
  padding: .8rem 1.2rem !important;
}

/* end Masthead */
